html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.wrapper {}

.container {
    max-width: 1240px;
    margin: 0px auto;
    overflow: hidden;
}

/*ШАПКА САЙТА*/

.header {}

/*Блок с номерами*/

.header_numberblock {
    background: #F2F2F2;
    padding: 0 15px;
}

.header_numbers {
    display: flex;
    justify-content: space-between;
}

.header_number {
    display: flex;
    align-items: center;
}

.header_numbers_pic {
    padding: 22px 13px 17px 0;
}

.header_numbers_text1 {
    font-size: 14px;
    line-height: 140%;
    padding: 22px 15px 17px 0;
}

.header_numbers_text2 {
    font-size: 14px;
    line-height: 140%;
    color: gray;
    padding: 20px 0 16px 0;
}

/*Блок с лого*/

.header_content {
    display: flex;
    justify-content: space-between;
    
}

.header_logoblock {
    padding: 0 15px;
}

.header_logo {
    padding: 31px 0 36px 0;
}

.header_links {
    display: flex;
    
}

.header_icons {
    padding: 53px 0 56px 0;
}

.header_btn {
    padding: 48px 0 51px; 0px;
}

.header_link {
    text-decoration: none;
    margin-right: 15px;
}

.header_icon_pic {
}

.header_btn1 {
    padding: 10px 25px 11px 25px;
    background-color: #0754A6;
    border: 2px solid;
    border-color: #0754A6;
    color: white;
    text-decoration: none;
    margin: 0 13px 0 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.header_btn2 {
    padding: 10px 33px 11px 38px;
    background-color: transparent;
    border: 2px solid;
    border-image: linear-gradient(to right, #065DAD, #FF0000);
    border-image-slice: 1;
    color: #0754A6;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

/*Блок с навигацией*/

.header_navblock {
    background: #0754A6;
    padding: 0 15px;
}

.header_nav {
    padding: 19px 0;
}

.header_list {
    display: flex;
    justify-content: space-between
}

.header_list_link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

/*ТЕЛО САЙТА*/


/*Баннер*/

.bannerblock {
    background-image: url(../img/main/banner/banner.svg);
    background-position: right;
    color: white;
    padding: 0 15px;
}

.banner_content {
    padding: 120px 0 120px 0;
}

.banner_title {
    margin-bottom: 25px;
}

.banner_title1 {
    color: transparent;
    background: linear-gradient(to top left, #FF0000 30%, #065DAD);
    -webkit-background-clip: text;
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
}

.banner_title2 {
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
}

.banner_items {
    margin-bottom: 53px;
}

.banner_text {
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
}

.banner_btn1 {
    background: #0754A6;
    padding: 12px 25px 12px 22px;
    border: 2px solid;
    border-color: #0754A6;
    color: white;
    font-size: 18px;
    line-height: 21px;
    margin-right: 20px;
}

.banner_btn2 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 12px 33px 12px 40px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    line-height: 21px;
}

/*Колонки*/

.columnblock {
    background: #EBEBEB;
    padding: 0 15px;
}

.column_content {
    display: flex;
    justify-content: space-between;
    padding: 71px 0 60px 0;
}

.column_card {}

.column_card_content {
    display: flex;
    align-items: baseline;
    margin-bottom: 6px;
}

.card_content_text {
    color: #0754A6;
    font-weight: bold;
    font-size: 52px;
    line-height: 100%;
    margin-right: 10px;
}

.card_content_pic {
    margin-top: -5px;
}

.card_text1 {
    color: #0754A6;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 4px;
}

.card_text2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
}

/*Блок с доставкой*/

.deliveryblock {
    padding: 0 15px;
}

.delivery_content {
    display: flex;
}

.delivery_title {
    font-weight: 300;
    font-size: 46px;
    line-height: 54px;
    margin-right: 33px;
    padding: 172px 0 161px 0;
    min-width: 399px;
}

.delivery_text {
    font-weight: 300;
    font-size: 19px;
    line-height: 36px;
    padding: 179px 0 163px 0;
}

/*Блок с бетоном в наличии*/

.availableblock {
    padding: 0 15px 245px 15px;
}

.available_items {
    display: flex;
}

.available_title {
    font-weight: bold;
    font-size: 34px;
    line-height: 120%;
    margin-bottom: 47px;
}

.available_item {
    position: relative;
    margin-right: 25px;
    
}

.available_item_pic {
    width: 100%;
}

.available_item:last-child {
    margin: 0;
}

.available_text {
    position: absolute;
    top: 0;
    color: white;
    padding: 137px 0 42px 25px;
}

.available_text_title {
    font-weight: 500;
    font-size: 46px;
    line-height: 100%;
}

.available_text1 {
    display: flex;
}

.available_text2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    margin-right: 10px;
}

/*Блок с видео*/

.videoblock {
    background-image: url(../img/main/video/video.svg);
    padding: 0 15px;
}

.video_content {
    display: flex;
    color: white;
}

.video_text {
    padding: 154px 0px 158px 0px;
    font-weight: bold;
    font-size: 46px;
    line-height: 140%;
    margin-right: 41px;
    max-width: 564px;
}

.video_play_pic {
    padding: 181px 0px 184px 0;
}

/*Блок с новостями*/

.newsblock {
    padding: 182px 15px 246px 15px;
}

.news_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
}

.news_title_text {
    font-weight: bold;
    font-size: 34px;
    line-height: 120%;
}

.news_title_btn {
    padding: 12px 41px 12px 44px;
    background-color: transparent;
    border: 2px solid;
    border-image: linear-gradient(to right, #065DAD, #FF0000);
    border-image-slice: 1;
    color: #0754A6;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
}

.news_items {
    display: flex;
    color: white;
}

.news_item1 {
    margin-right: 23px;
}

.news_item {
    display: flex;
    flex-wrap: wrap;
}

.news_item2 {
    margin-bottom: 25px;
}

.news_item3 {
    margin-right: 24px;
}

.news_text1 {
    max-width: 550px;
    position: absolute;
    padding: 454px 0 0 29px;
}

.news_text2 {
    max-width: 495px;
    position: absolute;
    padding: 206px 0 30px 13px;
}

.news_text3 {
    max-width: 282px;
    position: absolute;
    padding: 101px 0 30px 13px;
}

.news_text4 {
    max-width: 283px;
    position: absolute;
    padding: 173px 0 30px 13px;
}

.news_pic1 {
    width: 100;
}

.news_text_date {
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
}

.news_text_under {
    font-weight: 500;
    font-size: 19px;
    line-height: 120%;
}

/*Блок с выполненными работами*/

.workblock {
    background: #1E242B;
    padding: 0 15px;
}

.work_title {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 171px 0 59px 0;
    align-items: baseline;
}

.work_title_text {
    font-weight: bold;
    font-size: 34px;
    line-height: 120%;
}

.work_title_btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    padding: 11px 45px 13px 46px;
    background-color: transparent;
    border: 2px solid;
    border-color: white;
    color: white;
}

.work_items {
    display: flex;
    padding-bottom: 242px;
}

.work_items_block {
    margin-right: 22px;
}

.work_items_block:last-child {
    margin-right: 0;
}

.work_items_block1 {
    margin-bottom: 25px;
}

.work_pic1 {
    margin-right: 20px;
}

.work_items_block3 {
    margin-bottom: 25px;
}

.work_text_pic {
    color: white;
    position: absolute;
    max-width: 290px;
    font-size: 20px;
    line-height: 120%;
    padding: 231px 0 16px 13px;
}

.work_pic5 {
    margin-right: 20px;
}

.work_under_title {
    color: white;
    font-weight: bold;
    font-size: 34px;
    line-height: 120%;
    padding-bottom: 93px;
}

/*Блок с геокартой*/

.mapblock {
    background-image: url(../img/main/map/map.svg);
    padding: 307px 0;
}

/*ПОДВАЛ САЙТА*/

.footerblock {
    background: #1E242B;
    padding: 0 15px;
    color: white;
}

.footer_content {
    display: flex;
    padding: 71px 0 91px 0;
}

.footer_logo {
    max-width: 324px;
    margin-right: 122px;
}

.footer_logo_text {
    margin-top: 27px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}

.footer_main_content1 {
    display: flex;
    margin-bottom: 86px;
}

.footer_nav1 {
    margin-right: 88px;
}

.footer_nav2 {
    margin-right: 75px;
}

.footer_list_item {
    margin-bottom: 20px;
}

.footer_list_item:last-child {
    margin-bottom: 0px;
}

.footer_list_link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
}

.footer_email_content {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.email_pic {
    margin-right: 10px;
}

.email_pic_text {
    font-size: 18px;
    line-height: 140%;
}

.footer_email_text {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 15px;
}

.email_links {
    margin-right: 15px;
}

.email_links:last-child {
    margin: 0;
}

.email_pic {
    
}

.footer_main_content2 {
    display: flex;
}

.footer_number {
    align-items: flex-start;
}

.footer_number_text {
    display: flex;
    flex-wrap: nowrap;
}

.footer_number_pic {
    margin-right: 9.83px;
}

.footer_number_text1 {
    font-size: 15px;
    line-height: 140%;
    display: flex;
    flex-wrap: nowrap;
}

.footer_number_text2 {
    margin-left: 30px;
    font-size: 14px;
    line-height: 140%;
}

.footer_numb1 {
    margin-right: 145px;
}

.footer_numb2 {
    margin-right: 120px;
}

.under_footerblock {
    background: #263240;
    padding: 0 15px;
}

.under_footer_content {
    display: flex;
    align-items: center;
    padding-left: 935px;
    
}

.under_footer_text {
    font-size: 14px;
    line-height: 140%;
    color: #CDCFD0;
    padding: 33px 0 25px 0;
    margin-right: 12px;
}